version: '3.8'

services:
  web:
    build: .
    container_name: ecotrack-web
    volumes:
      - .:/app
      - static_volume:/app/staticfiles
      - media_volume:/app/media
    ports:
      - "8000:8000"
    env_file:
      - .env
    environment:
      - DEBUG=True
    command: daphne -b 0.0.0.0 -p 8000 nuit_info.asgi:application
    restart: unless-stopped

volumes:
  static_volume:
  media_volume:
